/* 
DayPilot Navigator Theme 
https://themes.daypilot.org/navigator/theme/hzxbzw
Theme Designer Version: 2021.09.25.67272
*/
.cal_dark_main { border-left: 1px solid #333741;border-right: 1px solid #333741;border-bottom: 1px solid #333741; font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; font-size: 16px; }
.cal_dark_main *, .cal_dark_main *:before, .cal_dark_main *:after { box-sizing: border-box; }
.cal_dark_line { border-bottom: 1px solid #333741; }
/* month header */ 
.cal_dark_title, .cal_dark_titleleft, .cal_dark_titleright { 
	border-top: 1px solid #333741;
	color: #ffffff;
	background: #333741;
}
.cal_dark_title { text-align: center; }
.cal_dark_titleleft, .cal_dark_titleright { text-align: center; }
/* day headers */
.cal_dark_dayheader { 
	color: #ffffff;
	background: #333741;
	padding: 0px;
	text-align: center;
}
/* day cells */
.cal_dark_cell { 
	color: #ffffff;
	background: #c4c8d5;
	text-align: center;
}
.cal_dark_cell_text {
	padding: 0px;
}
.cal_dark_weeknumber { 
	color: #ffffff;
	background: #9cabcf;
	text-align: center;
	padding: 0px;
}
.cal_dark_weekend { 
	color: #ffffff;
	background: #626671;
	text-align: center;
	padding: 0px;
}
.cal_dark_dayother { color: gray; }
.cal_dark_todaybox { border: 1px solid red; }
.cal_dark_busy { font-weight: bold; }
.cal_dark_select .cal_dark_cell_box { background-color: #f9f871; opacity: 0.5; }
