@import url('themes/dark_theme.css');
@import url('themes/cal_dark.css');


/* adjusting the built-in theme */
/* calendar event */
.calendar_default_event_inner {
    background: #2e78d6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 10pt;
    padding: 5px;
    opacity: 0.8;
}
/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
    visibility: hidden;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
   }
   
   /* Create a custom checkbox */
   .checkmark.green {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #d1e16b;
    border-radius: 5px;
   }
   .checkmark.red {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #fab0a9;
    border-radius: 5px;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark.green {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, #00df79 0%, #00df79 100%);
   }
   .container input:checked ~ .checkmark.red {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, #ff4a4e 0%, #ff4a4e 100%);
   }
   
   .container input ~ .checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }
   .button-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
  }